* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--mainCard: #6f9e9c;
	--headerColor: #648678;
	--mainWhite: #fff;
	--main: #cacfcb;
	--mainOrange: orange;
	--mainSection-One: #335a55;
	--mainSection-two: #141414;
	--mainSection-three: #05fcdb;
	--mainSidbar: coral;
	--footer: #112215;
	--fontSize: 1.1rem;
	--lineHieght: 1.5;
}
.container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 0.2fr, 1.5fr, 1.2fr, 0.8fr;
	height: 100vh;
	grid-template-areas:
		'header header header header'
		'sidebar main main main'
		'sidebar section-one section-two section-three'
		'sidebar footer footer footer';
}
header {
	background: var(--headerColor);
	grid-area: header;
}
main {
	background: var(--main);
	grid-area: main;
}
.sidebar {
	background: var(--mainSidbar);
	grid-area: sidebar;
}
.section-one {
	background: var(--mainSection-One);
	grid-area: section-one;
}
.section-two {
	background: var(--mainSection-two);
	grid-area: section-two;
}
.section-three {
	background: var(--mainSection-three);
	grid-area: section-three;
}

footer {
	background: var(--footer);
	grid-area: footer;
}
