* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--mainCard: #6f9e9c;
	--headerColor: #648678;
	--mainWhite: #fff;
	--main: #cacfcb;
	--mainOrange: orange;
	--mainSection: #335a55;
	--mainSidbar: coral;
	--footer: #112215;
	--fontSize: 1.1rem;
	--lineHieght: 1.5;
}
.container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 0.2fr, 1.5fr, 1.2fr, 0.8fr;
	height: 100vh;
}
header {
	background: var(--headerColor);
}
main {
	background: var(--main);
}
.sidebar {
	background: var(--mainSidbar);
}
.section {
	background: var(--mainSection);
}

footer {
	background: var(--footer);
}
