* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--mainCard: #6f9e9c;
	--headerColor: #648678;
	--mainWhite: #fff;
	--main: #cacfcb;
	--mainOrange: orange;
	--mainSection-One: #335a55;
	--mainSection-two: #141414;
	--mainSection-three: #05fcdb;
	--mainSidbar: coral;
	--footer: #112215;
	--fontSize: 1.1rem;
	--lineHieght: 1.5;
	--main-radius: 5px;
	--main-padding: 10px;
}
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-transform: capitalize;
	font-size: 1rem;
	text-align: center;
	color: #fff;
}
.container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 0.2fr, 1.5fr, 1.2fr, 0.8fr;
	height: 100vh;
	grid-template-areas:
		'header header header header'
		'main main main main'
		'section-one section-two section-three'
		'footer footer footer footer';
	grid-gap: 0.3rem;
}

header {
	background: var(--headerColor);
	grid-area: header;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
}
main {
	background: var(--main);
	grid-area: main;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
}
.sidebar {
	background: var(--mainSidbar);
	grid-area: sidebar;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
}
.section-one {
	background: var(--mainSection-One);
	grid-area: section-one;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
}
.section-two {
	background: var(--mainSection-two);
	grid-area: section-two;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
}
.section-three {
	background: var(--mainSection-three);
	grid-area: section-three;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
}

footer {
	background: var(--footer);
	grid-area: footer;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
}

@media only screen and (max-width: 768px) {
	.container {
		grid-template-columns: 1fr;
		grid-template-rows: 0.4fr, 04fr, 2.2fr, 1.2fr, 1.2fr 1.2fr 1fr;
		grid-template-areas:
			'header header'
			'main main'
			'section-one'
			'section-two'
			'section-three'
			'footer';
	}
}

@media only screen and (max-width: 550px) {
	.container {
		grid-template-columns: 1fr;
		grid-template-rows: 0.4fr, 04fr, 2.2fr, 1.2fr, 1.2fr 1.2fr 1fr;
		grid-template-areas:
			'header'
			'main'
			'section-one'
			'section-two'
			'section-three'
			'footer';
	}
}
